
<%
var MODULE_NAME="notes";
var MODULE_TITLE="Notes";
var MODULE_COLOUR="000000";
var NAV_BUTTONS = [];
%>

<head>
<title>YouHost Notes</title>
<%- include("general/meta", {name:MODULE_NAME}) %>
</head>

<body>
  <%- include("general/header", {name:MODULE_NAME, title:MODULE_TITLE, colour:MODULE_COLOUR, buttons:NAV_BUTTONS}) %>
  <section>
    <h1>New module template</h1>
  </section>
</body>

